
.secondary {
	background-color: $secondary-color;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.7);

	header {
		text-align: center;

		.logo .far {
		    margin-right: -1em;
		}
	}
}

.site-navigation {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	display: block;
}

.site-navigation ul {
	list-style: none;
	margin: 0;

	a {
		padding: 1em;
		color: inherit;
		display: block;
		text-transform: uppercase;
		font-size: 1.2rem;

		.far {
			padding-right: 8px;
		}

		&:hover {
			color: $main-color;
			text-decoration: none;
		}

		&.current {
			color: $main-color;
			font-weight: 900;
		}
	}
}
