
.site {
	background-color: whitesmoke;
	display: flex;
	flex-flow: row;
}

.main {
	flex: 1;
}

.secondary {
	padding: 0 10px;
	height: 100vh;
	position: sticky;
	top: 0;
}

.site-footer {
	margin-top: 1.5em;
	font-size: small;
	text-align: center;
	clear: both;

	p {
		margin-bottom: 10px;
	}

	a {
		color: currentColor;
		font-weight: 600;
	}

	a + span, span + a  {
		padding-left: 3px;
	}

	span.far, span.fas {
		font-weight: 600;
	}
}

.logo {
	span {
		color: red;
	}
}

.filter-title {
	margin-left: 1.5em;
}
